node_modules

.tmp

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
*.iml
.vscode
.node_history
dump.rdb

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid

.env
.env.local
.env.development
.env.production
sql

config/sos-luden-labs-firebase-adminsdk-k1ro3-f04665e5f8.json